ul{
	margin:0;
	padding:0;
}
ul li {
	list-style: none;
	height:33.33vh;
	width:100vw;
}
#orange,#white,#green{
	height:100%;
}
#orange{
	background-color:#fd7318e8;
}
#green{
	background-color:green;
}
#white{
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	color:blue;
	font-size:80px;
	font-family: 'Do Hyeon', sans-serif;
}
.typed-cursor {
	font-size:80px;
	color:blue;
}
